<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>SEP</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">



</style>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="stylesheet" href="{% static 'template.css' %}">
</head>
<body>
<header></header>

<div class="container-fluid">


<div class="row">
  <div class="col-sm-2">
  {% block sidebar %}
  <ul class="sidebar-nav_1">
   {% if user.is_authenticated %}
     <li>  <a href="/"><u>Home</u></a></li>
      <li> <br></li>
     <li><b style= "font-size: 1.25em">{{ user.first_name }}</b></li> 
     <li> <p>{{user.groups.all.0.name}}</p> </li>
   {% endif %} 
  </ul>
  <ul class="sidebar-nav">
    {% if not user.is_authenticated %}

<button href="#myModal" class="trigger-btn" data-toggle="modal">Log In</button>

{% else %}

<form method="post" action="{% url 'logout' %}" style = "margin: 0 0 0 0;">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>
{% endif %}
  </ul>
  
{% endblock %}
  </div>
  <div class="col-sm-10 ">
  {% block content %}{% endblock %}  
  
  </div>
</div>

</div>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <form action="{% url 'login' %}" method="post" style = "margin: 0 0 0 0;">
        {% csrf_token %}
        <div class="modal-header">        
          <h4 class="modal-title">Login</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">        
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name = "user_name" required="required">
          </div>
          <div class="form-group">
            <div class="clearfix">
              <label>Password</label>
            </div>
            
            <input type="password" class="form-control" name = "user_password" required="required">
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <input type="submit" class="btn btn-primary" value="Login">
        </div>
      </form>
    </div>
  </div>
</div>     

</body>
</html>
