{% extends "base_generic.html" %}

{% block content %}

<br>
{% if not user.is_authenticated %}
<h1>SEP</h1>
<p>Welcome to the <em>Swedish Event Planning</em> organization Portal.</p>
{% endif %}

<!-- You have visited this page {{ num_visits }} times. -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

{% if messages %}
    {% for message in messages %}
    {% if message.tags %}
     <div class="alert">
  	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  	<strong> {{ message }}</strong>
	</div>
	{% endif %}
    {% endfor %}

{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{% if user.is_authenticated %}

{% if user.groups.all.0.name == 'Platform Administrator' %}
	<button onclick="location.href='/admin';" type="button" style = "background: #111;">
	  Manage Server and Database
	</button>


{% endif %} 

{% if user.groups.all.0.name == 'CS Team' %}

	<button href="#eventModal" class="trigger-btn" data-toggle="modal">Add event request</button>

{% endif %} 

{% if user.groups.all.0.name == 'CS Manager' %}
<!--<p><a href="{% url 'eventreq_list' %}">Refresh</a></p>-->
{%if event_requests %}
<table>
	<tr>
		<th> Client </th>
		<th> Type </th>
		<th> Attendees </th>
		<th> Budget </th>
		<th> Dates </th>
		<th> Description </th>
	</tr>
{% for event in event_requests %}
	<tr>
		<td>{{ event.client }}</td>
		<td>{{ event.event_type }}</td>
		<td>{{ event.attendees }}</td>
		<td>{{ event.expected_budget }} €</td>
		<td>{{ event.from_date.year}}/{{event.from_date.month}}/{{event.from_date.day }} - 
			{{ event.to_date.year}}/{{event.to_date.month}}/{{event.to_date.day }} </td>
		<td>{{ event.description }}</td>
	<td><form method="post" action="{% url 'event_cs_accept' %}" style = "margin: 0 0 0 0;">
	{% csrf_token %}
	<button type="submit" name = "request_pk" value="{{ event.pk }}">Accept</button>
	</form></td>
	<td><form method="post" action="{% url 'event_reject' %}" style = "margin: 0 0 0 0;">
	{% csrf_token %}
	<button type="submit" name = "request_pk" value="{{ event.pk }}">Reject</button>
	</form></td>
	</tr>
{% endfor %}
</table>
{% endif %} 


<h4>Accepted requests</h4>
{%if accepted_events %}
<table>
{% for event in accepted_events %}
	<tr>
		<th>{{ event.client }}'s {{ event.event_type }}</th>
	<th><form method="post" action="{% url 'create_event' %}" style = "margin: 0 0 0 0;">
	{% csrf_token %}
	<button type="submit" name = "request_pk" value="{{ event.pk }}">Create Event</button>
	</form></th>
	</tr>
{% endfor %}
</table>
{%else %}
<p> No event requests to show </p>
{%endif %}


<h4>Rejected requests</h4>
{%if rejected_events %}
<table>
{% for event in rejected_events %}
	<tr>
		<th>{{ event.client }}'s {{ event.event_type }}</th>
	<th><form method="post" action="{% url 'remove_request' %}" style = "margin: 0 0 0 0;">
	{% csrf_token %}
	<button type="submit" name = "request_pk" value="{{ event.pk }}">Remove Request</button>
	</form></th>
	</tr>
{% endfor %}
</table>
{%endif %}
{%endif %}

{% if user.groups.all.0.name == 'Financial Manager' %}
<!--<p><a href="{% url 'eventcs_list' %}">Refresh</a></p>-->
<h4>Event requests</h4>
{%if event_cs_requests %}
<table>
	<tr>
		<th> Client </th>
		<th> Type </th>
		<th> Budget </th>
		<th> Description </th>
	</tr>
{% for event in event_cs_requests %}
	<tr>
		<th>{{ event.client }}</th>
		<th>{{ event.event_type }}</th>
		<th>{{ event.expected_budget }} €</th>
		<th>{{ event.description }}</th>
	<th><form method="post" action="{% url 'event_financial_accept' %}" style = "margin: 0 0 0 0;">
	{% csrf_token %}
	<button type="submit" name = "request_pk" value="{{ event.pk }}">Accept</button>
	</form></th>
	<th><form method="post" action="{% url 'event_reject' %}" style = "margin: 0 0 0 0;">
	{% csrf_token %}
	<button type="submit" name = "request_pk" value="{{ event.pk }}">Reject</button>
	</form></th>
	</tr>
{% endfor %}
</table>

{%else %}
<p> No event requests to show </p>
{%endif %}

<h4>Budget requests</h4>

{%if b_request%}
<table>
		<tr>
			<th> Event </th>
			<th> Department </th>
			<th> Budget </th>
			<th> Description </th>
			<th> Status </th>
		</tr>
{% for request in b_request %}
	<tr>
		<td>{{ request.project }}</td>
		<td>{{ request.department }}</td>
		<td>{{ request.budget }}€</td>
		<td>{{ request.description }}</td>
		<td>{{ request.status }}</td>
		{% if request.status == 'requested' %}
			<td><form method="post" action="{% url 'update_budrequest' %}" style = "margin: 0 0 0 0;">
			{% csrf_token %}
			<input type="hidden" name="request_status" value="accepted">
			<button type="submit" name = "request_pk" value="{{ request.pk }}">Accept</button>
			</form></td>
			<td><form method="post" action="{% url 'update_budrequest' %}" style = "margin: 0 0 0 0;">
			{% csrf_token %}
			<input type="hidden" name="request_status" value="rejected">
			<button type="submit" name = "request_pk" value="{{ request.pk }}">Reject</button>
			</form></td>
		{% elif request.status == 'accepted' %}
			<td><form method="post" action="{% url 'update_budrequest' %}" style = "margin: 0 0 0 0;">
			{% csrf_token %}
			<input type="hidden" name="requested_budget" value="{{ request.budget }}">
			<input type="hidden" name="request_status" value="agreed">
			<button type="submit" name = "request_pk" value="{{ request.pk }}">Agreed</button>
			</form></td>
			<td><form method="post" action="{% url 'update_budrequest' %}" style = "margin: 0 0 0 0;">
			{% csrf_token %}
			<input type="hidden" name="request_status" value="disagreed">
			<button type="submit" name = "request_pk" value="{{ request.pk }}">Disagreed</button>
			</form></td>
		{%endif%}
	</tr>
{% endfor %}
</table>
{%else %}
		<td colspan="3">No budget requests to show </td>
{%endif %}
<br>
{% endif %} 


{% if user.groups.all.0.name == 'HR Manager' %}
<!--<p><a href="{% url 'hr_list' %}">Refresh</a></p>-->

<h4>Recruitment requests</h4>

{%if r_request%}
<table>
		<tr>
			<th> Department </th>
			<th> Job </th>
			<th> Contract </th>
			<th> Experience </th>
			<th> Description </th>
			<th> Status </th>
		</tr>
{% for request in r_request %}
	<tr>
		<td>{{ request.department }}</td>
		<td>{{ request.job }}</td>
		<td>{{ request.type }}</td>
		<td>{{ request.experience }}</td>
		<td>{{ request.description }}</td>
		<td>{{ request.status }}</td>
		{% if request.status == 'requested' %}
			<td><form method="post" action="{% url 'update_recrequest' %}" style = "margin: 0 0 0 0;">
			{% csrf_token %}
			<input type="hidden" name="request_status" value="accepted">
			<button type="submit" name = "request_pk" value="{{ request.pk }}">Accept</button>
			</form></td>
			<td><form method="post" action="{% url 'update_recrequest' %}" style = "margin: 0 0 0 0;">
			{% csrf_token %}
			<input type="hidden" name="request_status" value="rejected">
			<button type="submit" name = "request_pk" value="{{ request.pk }}">Reject</button>
			</form></td>
		{% elif request.status == 'accepted' %}
			<td><form method="post" action="{% url 'update_recrequest' %}" style = "margin: 0 0 0 0;">
			{% csrf_token %}
			<input type="hidden" name="request_status" value="hired">
			<button type="submit" name = "request_pk" value="{{ request.pk }}">Hired</button>
			</form></td>
		{%endif%}
	</tr>
{% endfor %}
</table>
{%else %}
		<td colspan="3">No recruitment requests to show </td>
{%endif %}
<br>

{% endif %} 


{% if user.groups.all.0.name == 'Administration Manager' %}
<!--<p><a href="{% url 'eventfin_list' %}">Refresh</a></p>-->

{%if event_fin_requests%}
<table>
	<tr>
		<th> Client </th>
		<th> Type </th>
		<th> Attendees </th>
		<th> Budget </th>
		<th> Dates </th>
		<th> Description </th>
	</tr>
{% for event in event_fin_requests %}
	<tr>
		<th>{{ event.client }}</th>
		<th>{{ event.event_type }}</th>
		<th>{{ event.attendees }}</th>
		<th>{{ event.expected_budget }} €</th>
		<th>{{ event.from_date.month}}/{{event.from_date.day}}/{{event.from_date.year }} - 
			{{ event.to_date.month}}/{{event.to_date.day}}/{{event.to_date.year }} </th>
		<th>{{ event.description }}</th>
	<th><form method="post" action="{% url 'event_admin_accept' %}" style = "margin: 0 0 0 0;">
	{% csrf_token %}
	<button type="submit" name = "request_pk" value="{{ event.pk }}">Accept</button>
	</form></th>
	<th><form method="post" action="{% url 'event_reject' %}" style = "margin: 0 0 0 0;">
	{% csrf_token %}
	<button type="submit" name = "request_pk" value="{{ event.pk }}">Reject</button>
	</form></th>
	</tr>
{% endfor %}
</table>

{%else %}
<p> No event requests to show </p>
{%endif %}
{% endif %}


{% if user.groups.all.0.name == 'Production Manager' or  user.groups.all.0.name == 'Services Manager'%}
<!--<p><a href="{% url 'events_progress' %}">Refresh</a></p>-->

<h4>Current Events</h4>
{%if event_pending%}
<table>
{% for event in event_pending %}
	<tr>
		<td>{{ event.client }}'s {{ event.event_type }}</td>
		<td>{{ event.status }}</td>
		
		
		<td><form method="get" action="{% url 'start_event' %}" style = "margin: 0 0 0 0;">
		{% csrf_token %}
		<button type="submit" name = "event_pk" value="{{ event.pk }}">Manage</button>
		</form></td>
	</tr>
{% endfor %}
</table>

{%else %}
<p> No events to show </p>
{%endif %}
<br>
<h4>Finished Events</h4>
{%if event_finished%}
<table>
{% for event in event_finished %}
	<tr>
		<td>{{ event.client }}'s {{ event.event_type }}</td>
		<td><form method="get" action="{% url 'archive_event' %}" style = "margin: 0 0 0 0;">
		{% csrf_token %}
		<button type="submit" name = "event_pk" value="{{ event.pk }}">Archive</button>
		</form></td>
	</tr>
{% endfor %}
</table>

{%else %}
<p> No events to show </p>
{%endif %}
<hr style="height:0.1px;border-width:0;color:white;background-color:white">
<h4>Requests</h4>

<table>
	 <tr>
	  <th colspan="3">Budget</th>
	 </tr>
{%if b_request%}
{% for request in b_request %}
	<tr>
		<td>{{ request.project }}</td>
		<td>{{ request.department }}</td>
		<td>{{ request.status }}</td>
		{% if request.status == 'agreed' or request.status == 'disagreed' or request.status == 'rejected'%}
			<td><form method="post" action="{% url 'remove_budrequest' %}" style = "margin: 0 0 0 0;">
			{% csrf_token %}
			<button type="submit" name = "request_pk" value="{{ request.pk }}">Remove</button>
			</form></td>
		{%endif%}
	</tr>
{% endfor %}
{%else %}
	<tr>
		<td colspan="3">No requests to show </td>
	</tr>
{%endif %}

	 <tr>
	  <th colspan="3">Recruitment</th>
	 </tr>
{%if r_request%}
{% for request in r_request %}
	<tr>
		<td>{{ request.job }}</td>
		<td>{{ request.department }}</td>
		<td>{{ request.status }}</td>
		{% if request.status == 'hired' or request.status == 'rejected'%}
			<td><form method="post" action="{% url 'remove_recrequest' %}" style = "margin: 0 0 0 0;">
			{% csrf_token %}
			<button type="submit" name = "request_pk" value="{{ request.pk }}">Remove</button>
			</form></td>
		{%endif%}
	</tr>
{% endfor %}
{%else %}
	<tr>
		<td colspan="3">No requests to show </td>
	</tr>
{%endif %}
</table>
<br>
{% endif %}

{% if user.groups.all.0.name == 'Chef' or user.groups.all.0.name == 'Computer' or user.groups.all.0.name == 'Decoration' or user.groups.all.0.name == 'Graphic Design' or user.groups.all.0.name == 'Music' or user.groups.all.0.name == 'Photography' or user.groups.all.0.name == 'Waiter'%}
	<!--<p><a href="{% url 'get_tasks' %}">Refresh</a></p>-->
	{% if tasks %}
	<table>
		<tr>
			<th> Event </th>
			<th> Priority </th>
			<th> Sender </th>
			<th> Status </th>
			<th> Description </th>
		</tr>
			{% for task in tasks %}
				<tr>
					<td>{{task.project}}</td>
					<td>{{task.priority}}</td>
					<td>{{task.assigner.first_name}}</td>
					<td>{{task.status}}</td>
					<td>{{task.description}}</td>

					{% if task.status == 'assigned' %}
					<td><form method="post" action="{% url 'set_task_status' %}" style = "margin: 0 0 0 0;">
					{% csrf_token %}
					<input type="hidden" name="task_status" value="in progress">
					<button type="submit" name = "task_pk" value="{{ task.pk }}">Start</button>
					</form></td>
					{% elif task.status == 'in progress' %}
					<td><form method="post" action="{% url 'set_task_status' %}" style = "margin: 0 0 0 0;">
					{% csrf_token %}
					<input type="hidden" name="task_status" value="blocked">
					<button type="submit" name = "task_pk" value="{{ task.pk }}">Block</button>
					</form></td>
					<td><form method="post" action="{% url 'set_task_status' %}" style = "margin: 0 0 0 0;">
					{% csrf_token %}
					<input type="hidden" name="task_status" value="finished">
					<button type="submit" name = "task_pk" value="{{ task.pk }}" style = "margin: 0 0 0 0;">Finish</button>
					</form></td>
					{% elif task.status == 'blocked' %}
					<td><form method="post" action="{% url 'set_task_status' %}" style = "margin: 0 0 0 0;">
					{% csrf_token %}
					<input type="hidden" name="task_status" value="in progress" style = "margin: 0 0 0 0;">
					<button type="submit" name = "task_pk" value="{{ task.pk }}">Resume</button>
					</form></td>
					{% endif %}
				</tr>
			{% endfor %}
	</table>
	{%else %}
	<p> No tasks to show </p>
	{%endif %}
{% endif %}

{% endif %}
{% endblock %}