{% extends "base_generic.html" %}

{% load def_filters %}

{% block content %}

{%if event %}
<style>

.content {
  max-height: 0;
  overflow: hidden;
  /*transition: max-height 0.3s ease-out;*/
}
</style>

<table style="float:right; margin-top: 10px">
	<tr>
		<th>Request</th>
	</tr>
	<tr>
		<td>
		<button class="coll_budget">Budget</button>
		<button class="coll_recruit">Recruit</button>
		<div id = "hide_budget" class="content">
        <br>
  		<form method="post" action="{% url 'add_request' %}" style = "margin: 0 0 0 0;">
		{% csrf_token %}
  			<div class="form-group">
            	<label>Event</label>
            	<input type="text" class="form-control" name = "event_pk" disabled value="{{event}}" style="background: #312450;">
          	</div>
          	<div class="form-group">
            	<label>Department</label>
            	<select name="department" required="required" style="display:inline"> 	
            		{% if user.groups.all.0.name == 'Production Manager' %}
  					<option value="" selected disabled hidden>-Production-</option>
  					<option>Decoration</option>
  					<option>Photography</option>
  					<option>Music</option>
  					<option>Graphic Design</option>
  					<option>Computer</option>
  					{% elif user.groups.all.0.name == 'Production Manager' %}
  					<option value="" selected disabled hidden>-Services-</option>
  					<option>Chef</option>
  					<option>Waiter</option>
  					{%endif%}
  				</select>
          	</div>
          	<div class="form-group">
            <label>New budget</label>
            <input type="number" class="form-control" name = "budget" required="required">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name = "description" required="required">
          </div>
          <input type="hidden" name="event_pk" value="{{ event.pk }}">
          <button type="submit" name = "request_type" value="budg">Send</button>
		</form>
		</div>
		<div id = "hide_recruit" class="content">
  		<br>
  		<form method="post" action="{% url 'add_request' %}" style = "margin: 0 0 0 0;">
		{% csrf_token %}
  			<div class="form-group">
            	<label>Contract</label>
            	<input type="radio" id = "temp" name="contract" value="temp"  required="required"><label for="temp">Part time </label>
  <input type="radio" id = "full" name="contract" value="full"><label for="full">Full time </label>
          	</div>
          	<div class="form-group">
            	<label>Department</label>
            	<select name="department" required="required" style="display:inline"> 	
            		{% if user.groups.all.0.name == 'Production Manager' %}
  					<option value="" selected disabled hidden>-Production-</option>
  					<option>Decoration</option>
  					<option>Photography</option>
  					<option>Music</option>
  					<option>Graphic Design</option>
  					<option>Computer</option>
  					{% elif user.groups.all.0.name == 'Production Manager' %}
  					<option value="" selected disabled hidden>-Services-</option>
  					<option>Chef</option>
  					<option>Waiter</option>
  					{%endif%}
  				</select>
          	</div>
          	<div class="form-group">
            <label>Experience</label>
            <input type="text" class="form-control" name = "experience" required="required">
          </div>
          <div class="form-group">
            <label>Job</label>
            <input type="text" class="form-control" name = "job" required="required">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name = "description" required="required">
          </div>
          <input type="hidden" name="event_pk" value="{{ event.pk }}">
          <button type="submit" name = "request_type" value="recruit">Send</button>
		</form>
		</div>
		</div>
		</td>
	</tr>
</table><br>


<script>
var coll = document.getElementsByClassName("coll_budget");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = document.getElementById("hide_budget");
    var enemy = document.getElementById("hide_recruit");
    enemy.style.maxHeight = null;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
coll = document.getElementsByClassName("coll_recruit");

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = document.getElementById("hide_recruit");
    var enemy = document.getElementById("hide_budget");
    enemy.style.maxHeight = null;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>

<div>
<h3> General </h3>
<ul>
<li> Client: {{ event.client }} </li>
<li>Event type: {{ event.event_type }}</li>
<li>Attendees: {{ event.attendees }}</li>
<li>Budget: {{ event.expected_budget }} €</li>
<li>Dates: {{ event.from_date.year}}/{{event.from_date.month}}/{{event.from_date.day }} - 
			{{ event.to_date.year}}/{{event.to_date.month}}/{{event.to_date.day }}  </li>
<li>Description: {{ event.description }}</li>
{% if user.groups.all.0.name == 'Services Manager' %}
<li> Food and drinks needs: {{ event.food_drinks }} </li>
{% endif %}
<li>Other needs: {{ event.other }}</li>
</ul>
</div>



{% if user.groups.all.0.name == 'Production Manager' %}
<h3> Decorations </h3>
<ul>
<li> Needs: {{ event.decorations }} </li>
</ul>
	<table>
	<tr>
		<th> Employee </th>
		<th> Task </th>
		<th> Priority </th>
		<th> Status </th>
	</tr>
	{% for user in users|in_department:"Decoration" %}
		{% for task in tasks|assigned_tasks:user %}
			<tr>
				<td>{{task.assigned.first_name}}</td>
				<td>{{task.description}}</td>
				<td>{{task.priority}}</td>
				<td>{{task.status}}</td>
				<td><form method="get" action="{% url 'start_event' %}" style = "margin: 0 0 0 0;">
				{% csrf_token %}
				<input type="hidden" name="task_pk" value="{{ task.pk }}">
				<button type="submit" name = "event_pk" value="{{ event.pk }}">Delete</button>
				</form></td>
			</tr>
		{% endfor %}
	{% endfor %}
	</table>

<form method="post" action = "{% url 'start_event' %}">
  {% csrf_token %}
  <br><label for="description">Description:</label>
  <input type="text" name="description" required="required">
  <br><label for="assigned">Assigned:</label>
  <select name="assigned" required="required"> 	
  	<option value="" selected disabled hidden>-Employees-</option>
  	{% for user in users|in_department:"Decoration" %}
    <option value="{{user.pk}}">{{user.first_name}}</option>
    {% endfor %}
  </select>
  <br><label for="priority">Priority:</label>
  <input type="radio" id = "low" name="priority" value="low"  required="required"><label for="low">Low </label>
  <input type="radio" id = "medium" name="priority" value="medium"><label for="medium">Medium </label>
  <input type="radio" id = "high" name="priority" value="high"><label for="high">High </label><br>
  <br><button type="submit" name = "event_pk" value="{{ event.pk }}">Send Task </button>
</form>

<h3> Photograph </h3>
<ul>
<li> Needs: {{ event.film_and_photos }} </li>
</ul>
	<table>
	<tr>
		<th> Employee </th>
		<th> Task </th>
		<th> Priority </th>
		<th> Status </th>
	</tr>
	{% for user in users|in_department:"Photography" %}
		{% for task in tasks|assigned_tasks:user %}
			<tr>
				<td>{{task.assigned.first_name}}</td>
				<td>{{task.description}}</td>
				<td>{{task.priority}}</td>
				<td>{{task.status}}</td>
				<td><form method="get" action="{% url 'start_event' %}" style = "margin: 0 0 0 0;">
				{% csrf_token %}
				<input type="hidden" name="task_pk" value="{{ task.pk }}">
				<button type="submit" name = "event_pk" value="{{ event.pk }}">Delete</button>
				</form></td>
			</tr>
		{% endfor %}
	{% endfor %}
	</table>

<form method="post" action = "{% url 'start_event' %}">
  {% csrf_token %}
  <br><label for="description">Description:</label>
  <input type="text" name="description"  required="required">
  <br><label for="assigned">Assigned:</label>
  <select name="assigned"  required="required"> 	
  	<option value="" selected disabled hidden>-Employees-</option>
  	{% for user in users|in_department:"Photography" %}
    <option value="{{user.pk}}">{{user.first_name}}</option>
    {% endfor %}
  </select>
  <br><label for="priority">Priority:</label>
  <input type="radio" id = "low" name="priority" value="low"  required="required"><label for="low">Low </label>
  <input type="radio" id = "medium" name="priority" value="medium"><label for="medium">Medium </label>
  <input type="radio" id = "high" name="priority" value="high"><label for="high">High </label><br>
  <br><button type="submit" name = "event_pk" value="{{ event.pk }}">Send Task </button>
</form>

<h3> Music </h3>
<ul>
<li> Needs: {{ event.music }} </li>	
</ul>
	<table>
	<tr>
		<th> Employee </th>
		<th> Task </th>
		<th> Priority </th>
		<th> Status </th>
	</tr>
	{% for user in users|in_department:"Music" %}
		{% for task in tasks|assigned_tasks:user %}
			<tr>
				<td>{{task.assigned.first_name}}</td>
				<td>{{task.description}}</td>
				<td>{{task.priority}}</td>
				<td>{{task.status}}</td>
				<td><form method="get" action="{% url 'start_event' %}" style = "margin: 0 0 0 0;">
				{% csrf_token %}
				<input type="hidden" name="task_pk" value="{{ task.pk }}">
				<button type="submit" name = "event_pk" value="{{ event.pk }}">Delete</button>
				</form></td>
			</tr>
		{% endfor %}
	{% endfor %}
	</table>
<form method="post" action = "{% url 'start_event' %}">
  {% csrf_token %}
  <br><label for="description">Description:</label>
  <input type="text" name="description" required="required">
  <br><label for="assigned">Assigned:</label>
  <select name="assigned" required="required"> 	
  	<option value="" selected disabled hidden>-Employees-</option>
  	{% for user in users|in_department:"Music" %}
    <option value="{{user.pk}}">{{user.first_name}}</option>
    {% endfor %}
  </select>
  <br><label for="priority">Priority:</label>
  <input type="radio" id = "low" name="priority" value="low"  required="required"><label for="low">Low </label>
  <input type="radio" id = "medium" name="priority" value="medium"><label for="medium">Medium </label>
  <input type="radio" id = "high" name="priority" value="high"><label for="high">High </label><br>
  <br><button type="submit" name = "event_pk" value="{{ event.pk }}">Send Task </button>
</form>
<h3> Graphic Design </h3>
<ul>
<li> Needs: {{ event.posters_art }} </li>
</ul>
	<table>
	<tr>
		<th> Employee </th>
		<th> Task </th>
		<th> Priority </th>
		<th> Status </th>
	</tr>
	{% for user in users|in_department:"Graphic Design" %}
		{% for task in tasks|assigned_tasks:user %}
			<tr>
				<td>{{task.assigned.first_name}}</td>
				<td>{{task.description}}</td>
				<td>{{task.priority}}</td>
				<td>{{task.status}}</td>
				<td><form method="get" action="{% url 'start_event' %}" style = "margin: 0 0 0 0;">
				{% csrf_token %}
				<input type="hidden" name="task_pk" value="{{ task.pk }}">
				<button type="submit" name = "event_pk" value="{{ event.pk }}">Delete</button>
				</form></td>
			</tr>
		{% endfor %}
	{% endfor %}
	</table>
<form method="post" action = "{% url 'start_event' %}">
  {% csrf_token %}
  <br><label for="description">Description:</label>
  <input type="text" name="description" required="required">
  <br><label for="assigned">Assigned:</label>
  <select name="assigned" required="required"> 		
  	<option value="" selected disabled hidden>-Employees-</option>
  	{% for user in users|in_department:"Graphic Design" %}
    <option value="{{user.pk}}">{{user.first_name}}</option>
    {% endfor %}
  </select>
  <br><label for="priority">Priority:</label>
  <input type="radio" id = "low" name="priority" value="low"  required="required"><label for="low">Low </label>
  <input type="radio" id = "medium" name="priority" value="medium"><label for="medium">Medium </label>
  <input type="radio" id = "high" name="priority" value="high"><label for="high">High </label><br>
  <br><button type="submit" name = "event_pk" value="{{ event.pk }}">Send Task </button>
</form>
<h3> Computer Related </h3>
<ul>
<li> Needs: {{ event.computers }} </li>
</ul>	
	<table>
	<tr>
		<th> Employee </th>
		<th> Task </th>
		<th> Priority </th>
		<th> Status </th>
	</tr>
	{% for user in users|in_department:"Computer" %}
		{% for task in tasks|assigned_tasks:user %}
			<tr>
				<td>{{task.assigned.first_name}}</td>
				<td>{{task.description}}</td>
				<td>{{task.priority}}</td>
				<td>{{task.status}}</td>
				<td><form method="get" action="{% url 'start_event' %}" style = "margin: 0 0 0 0;">
				{% csrf_token %}
				<input type="hidden" name="task_pk" value="{{ task.pk }}">
				<button type="submit" name = "event_pk" value="{{ event.pk }}">Delete</button>
				</form></td>
			</tr>
		{% endfor %}
	{% endfor %}
	</table>
<form method="post" action = "{% url 'start_event' %}">
  {% csrf_token %}
  <br><label for="description">Description:</label>
  <input type="text" name="description" required="required">
  <br><label for="assigned">Assigned:</label>
  <select name="assigned" required="required"> 	
  	<option value="" selected disabled hidden>-Employees-</option>
  	{% for user in users|in_department:"Computer" %}
    <option value="{{user.pk}}">{{user.first_name}}</option>
    {% endfor %}
  </select>
  <br><label for="priority">Priority:</label>
  <input type="radio" id = "low" name="priority" value="low"  required="required"><label for="low">Low </label>
  <input type="radio" id = "medium" name="priority" value="medium"><label for="medium">Medium </label>
  <input type="radio" id = "high" name="priority" value="high"><label for="high">High </label><br>
  <br><button type="submit" name = "event_pk" value="{{ event.pk }}">Send Task </button>
</form>

{% elif user.groups.all.0.name == 'Services Manager' %}
<h3> Chefs </h3>
	<table>
	<tr>
		<th> Employee </th>
		<th> Task </th>
		<th> Priority </th>
		<th> Status </th>
	</tr>
	{% for user in users|in_department:"Chef" %}
		{% for task in tasks|assigned_tasks:user %}
			<tr>
				<td>{{task.assigned.first_name}}</td>
				<td>{{task.description}}</td>
				<td>{{task.priority}}</td>
				<td>{{task.status}}</td>
				<td><form method="get" action="{% url 'start_event' %}" style = "margin: 0 0 0 0;">
				{% csrf_token %}
				<input type="hidden" name="task_pk" value="{{ task.pk }}">
				<button type="submit" name = "event_pk" value="{{ event.pk }}">Delete</button>
				</form></td>
			</tr>
		{% endfor %}
	{% endfor %}
	</table>
<form method="post" action = "{% url 'start_event' %}">
  {% csrf_token %}
  <br><label for="description">Description:</label>
  <input type="text" name="description" required="required">
  <br><label for="assigned">Assigned:</label>
  <select name="assigned" required="required"> 	
  	<option value="" selected disabled hidden>-Employees-</option>
  	{% for user in users|in_department:"Chef" %}
    <option value="{{user.pk}}">{{user.first_name}}</option>
    {% endfor %}
  </select>
  <br><label for="priority">Priority:</label>
  <input type="radio" id = "low" name="priority" value="low"  required="required"><label for="low">Low </label>
  <input type="radio" id = "medium" name="priority" value="medium"><label for="medium">Medium </label>
  <input type="radio" id = "high" name="priority" value="high"><label for="high">High </label><br>
  <br><button type="submit" name = "event_pk" value="{{ event.pk }}">Send Task </button>
</form>

<h3> Waiters </h3>
	<table>
	<tr>
		<th> Employee </th>
		<th> Task </th>
		<th> Priority </th>
		<th> Status </th>
	</tr>
	{% for user in users|in_department:"Waiter" %}
		{% for task in tasks|assigned_tasks:user %}
			<tr>
				<td>{{task.assigned.first_name}}</td>
				<td>{{task.description}}</td>
				<td>{{task.priority}}</td>
				<td>{{task.status}}</td>
				<td><form method="get" action="{% url 'start_event' %}" style = "margin: 0 0 0 0;">
				{% csrf_token %}
				<input type="hidden" name="task_pk" value="{{ task.pk }}">
				<button type="submit" name = "event_pk" value="{{ event.pk }}">Delete</button>
				</form></td>
			</tr>
		{% endfor %}
	{% endfor %}
	</table>
<form method="post" action = "{% url 'start_event' %}">
  {% csrf_token %}
  <br><label for="description">Description:</label>
  <input type="text" name="description" required="required">
  <br><label for="assigned">Assigned:</label>
  <select name="assigned" required="required"> 	
  	<option value="" selected disabled hidden>-Employees-</option>
  	{% for user in users|in_department:"Waiter" %}
    <option value="{{user.pk}}">{{user.first_name}}</option>
    {% endfor %}
  </select>
  <br><label for="priority">Priority:</label>
  <input type="radio" id = "low" name="priority" value="low"  required="required"><label for="low">Low </label>
  <input type="radio" id = "medium" name="priority" value="medium"><label for="medium">Medium </label>
  <input type="radio" id = "high" name="priority" value="high"><label for="high">High </label><br>
  <br><button type="submit" name = "event_pk" value="{{ event.pk }}">Send Task </button>
</form>

{% endif %}
{% endif %}

{% endblock %}